#container {
    display: flex;
    height: 1000px;
    width: 1500px;
  }
#flex-main {
    width: 1000px;
    background-color: green;
  }
#child-container {
  display: grid;
  grid-template-rows: 60px 60px;
  grid-template-columns: 250px 300px 300px 150px;
  grid-template-areas: 
    "areaA areaB areaC areaG"
    "areaD areaE areaF areaG";
}
#input-text {
  grid-area: areaA;
}
#input-movie-path-text-box {
  grid-area: areaB;
}
#input-json-path-text-box {
  grid-area: areaC;
}
#output-text {
  grid-area: areaD;
}
#output-images-path-text-box {
  grid-area: areaE;
}
#output-json-path-text-box {
  grid-area: areaF;
}
#path-submit {
  grid-area: areaG;
}
#input-movie-path-text {
  width: 200px;
  height: 50px;
}
#input-json-path-text{
  width: 200px;
  height: 50px;
}
#output-images-path-text {
  width: 200px;
  height: 50px;
}
#output-json-path-text {
  width: 200px;
  height: 50px;
}
#flex-side {
    background-color: skyblue;
    height: 100%;
    width: 500px;
  }
.center_wrapper{
  text-align:center;
}

#savebutton {
  height: 40px;
}

#createbutton {
  margin-top: 50px;
}

#scroll-object-wrapper{
  width: 100%;
  height:1000px;
  overflow-y: scroll;
  margin-left: 30px;
}

#scroll-object-1{
  background-color: pink;
}


#shown-canvas-wrapper{
    width: 100%;
    position: relative;
}

#shown-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#shown-canvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#coordinate {
    width: 100%;
    z-index: 3;
    text-align:center;
}
